@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,100&display=swap");

:root {
  --dark-mode: "on";
  --bg-color: #282b30;
  --section-color: #36393e;
  --mute-color: #424549;
  --mute-highlight-color: #99aab5;
  --text-color: #fff;
  --highlight-color: #7289da;
}

body {
  font-family: "Lato" sans-serif;
  background-color: var(--bg-color);
  /* background-image: url("./assets/img/bg3_1600x900.jpg"); */
  background-attachment: fixed;
  background-size: cover;
  color: var(--text-color);
}

.btn-primary {
  border: none;
  background-color: var(--highlight-color);
  margin-top: 1rem;
}

.btn-primary:hover {
  background-color: var(--mute-highlight-color);
}

ul {
  list-style-type: circle;
}

.form-control {
  color: var(--dark-focus-color);
  border: none;
  background-color: var(--mute-color);
}

.navbar-custom {
  background-color: var(--bg-color);
}

.navbar-custom a {
  color: var(--mute-highlight-color);
}

.navbar-custom a:hover {
  color: var(--highlight-color);
}

.navbar-custom a:focus {
  color: var(--mute-highlight-color);
}

.carousel-control-prev ion-icon,
.carousel-control-next ion-icon,
.navbar-toggler ion-icon {
  font-size: 130%;
  vertical-align: middle;
  padding-bottom: 0.188rem;
  color: var(--mute-highlight-color);
  /* margin-bottom: -3px; */
}

ion-icon {
  font-size: 125%;
  vertical-align: middle;
  padding-bottom: 0.188rem;
  /* margin-bottom: -3px; */
}

/***** FOOTER *****/

footer {
  margin-top: 5rem;
  min-height: 10rem;
  color: var(--mute-highlight-color);
  text-align: center;
  border-top: solid 1px var(--mute-highlight-color);
}

footer .logo {
  margin-left: -0.25rem;
}

footer a {
  color: var(--mute-color);
  margin: 1rem;
}

footer a:hover {
  color: var(--highlight-color);
}

.footer-content {
  padding: 3rem;
}

.footer-text {
  margin-top: 2rem;
  text-align: center;
}

/***** SCROLL-BAR *****/

/* width */
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--bg-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--mute-color);
  border-radius: 0.25rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--highlight-color);
}

/***** NAVBAR *****/

.logo {
  width: 3.125rem;
  margin-left: 1.5rem;
}

/***** NAV LINKS *****/

nav a.nav-link {
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
  margin-right: 1.5rem;
  text-align: center;
}

/***** SECTIONS *****/

h1,
h3 {
  font-weight: 300;
}

h5,
h6 {
  color: var(--mute-highlight-color);
}

.section-container {
  text-align: center;
}

.section-container p {
  font-weight: 100;
  text-transform: uppercase;
}

.section-title {
  text-transform: uppercase;
  color: var(--highlight-color);
}

.section-subtitle {
  margin-top: 1.5rem;
}

.section-text {
  margin-top: 1.5rem;
}

.card {
  margin-top: 2.5rem;
  border: none;
  background-color: var(--section-color);
  /* backdrop-filter: blur(10px); */
}

.card-header {
  background-color: var(--highlight-color);
  color: white;
  font-size: 125%;
  font-weight: 300;
}

/***** HEADER *****/

@media (max-width: 992px) {
  .header .card-body {
    text-align: center;
  }
}

.header {
  margin-top: 7rem;
}

.profile-pic {
  text-align: center;
}

.myPic {
  width: 15rem;
  border-radius: 50%;
  margin-left: 0 auto;
}

.header-body {
  height: 100%;
}

.header-text {
  margin: 3rem 0;
}

.header .card-subtitle {
  margin-top: 1rem;
}

/***** SKILLS *****/

.skills-section .section-text {
  text-align: left;
  font-size: 120%;
}

.skills-section .card {
  min-height: 120vh;
}

.skills-section li {
  padding: 0.5rem;
  border-radius: 0.25rem;
  transition: 0.2s ease;
  cursor: pointer;
}

.skills-section li:hover {
  list-style-type: disc;
  background-color: var(--mute-color);
}

.rating {
  padding: 0;
}

/***** EDUCATION *****/

.edu-section .card {
  padding-bottom: 3rem;
}

.edu-section .carousel-indicators {
  margin-bottom: -2.5rem;
}

/***** PROJECTS *****/

.card .card {
  margin-top: 1rem;
  min-height: 30vh;
}

.proj-section button {
  border-radius: 50ch;
}

/***** EXPERIENCE *****/

.exp-section .row {
  margin-bottom: 2rem;
}

.exp-section .carousel-indicators {
  margin-bottom: -0.25rem;
}

/***** CONTACT *****/

.contact-section p {
  margin-top: 1rem;
  margin-bottom: 0.25rem;
}

.contact-section button {
  border-radius: 50ch;
  margin-bottom: 1.5rem;
}
