@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,100&display=swap");

body {
  font-family: "Lato" sans-serif;
  background-color: #99aab5;
  background-image: url("./assets/bg3_1600x900.jpg");
  background-attachment: fixed;
  background-size: cover;
}

.btn-primary {
  border: none;
  background-color: #7289da;
  margin-top: 1rem;
}

.btn-primary:hover {
  background-color: #888;
}

footer {
  margin-top: 5rem;
  min-height: 10rem;
  color: #aaa;
  text-align: center;
}

footer .logo {
  margin-left: -0.3125rem;
}

footer a {
  color: #aaa;
  margin: 1rem;
}

footer a:hover {
  color: #7289da;
}

.footer-content {
  padding: 3rem;
}

.footer-text {
  margin-top: 2rem;
  text-align: center;
}

/***** SCROLL-BAR *****/
/* width */
::-webkit-scrollbar {
  width: 0.625rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #99aab5;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 0.3125rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/***** NAVBAR *****/
.logo {
  width: 3.125rem;
  margin-left: 1.5rem;
}

/***** NAV LINKS *****/
nav a.nav-link {
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
  margin-right: 1.5rem;
}

/***** SECTIONS *****/

ion-icon {
  font-size: 125%;
  vertical-align: middle;
  padding-bottom: 0.188rem;
  /* margin-bottom: -3px; */
}

h1,
h3 {
  font-weight: 300;
}

.section-container {
  text-align: center;
}

.section-container p {
  font-weight: 100;
  text-transform: uppercase;
}

.section-title {
  text-transform: uppercase;
  color: #7289da;
}

.section-subtitle {
  margin-top: 1.5rem;
}

.section-text {
  margin-top: 1.5rem;
}

.card {
  margin-top: 2.5rem;
  border: none;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
}

.card-header {
  background-color: #7289da;
  color: white;
  font-size: 125%;
  font-weight: 300;
}

/***** HEADER *****/

.header {
  margin-top: 7rem;
}

.profile-pic {
  text-align: center;
}

.myPic {
  width: 15rem;
  border-radius: 50%;
  margin-left: 0 auto;
}

.header-body {
  height: 100%;
}

.header-text {
  margin: 3rem 0;
}

.header .card-subtitle {
  margin-top: 1rem;
}

/***** SKILLS *****/
.skills-section .section-text {
  text-align: left;
  font-size: 120%;
}

/***** EDUCATION *****/
.edu-section .card {
  padding-bottom: 3rem;
}

.edu-section .carousel-indicators {
  margin-bottom: -2rem;
}

/***** PROJECTS *****/
.card .card {
  margin-top: 1rem;
  min-height: 30vh;
  /* border: solid black; */
}
