@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,100&display=swap");

body {
  font-family: "Lato" sans-serif;
}

/***** NAVBAR *****/
.logo {
  width: 3.125rem;
  margin-left: 1.5rem;
}

/***** NAV LINKS *****/
nav a.nav-link {
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
  margin-right: 1.5rem;
}

nav ul li ion-icon {
  font-size: 125%;
  vertical-align: middle;
  padding-bottom: 0.188rem;
  /* margin-bottom: -3px; */
}
